<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>イラスト一覧</h3>
  </div>

  <% @posts.each do |post| %>
    <div class="mdl-cell mdl-cell--3-col">
      <%= link_to(post) do %>
        <div class="image-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <%= post.skech.html_safe %>
          </div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename"><%= gravatar_tag(post.user.try(:avatar_image_url)) %> <%= post.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
