<h1><%= gravatar_tag(@post.user.try(:avatar_image_url)) %> <%= @post.title %></h1>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="big-card mdl-card mdl-shadow--2dp">
      <div class="big-card-svg">
        <%= @post.sketch.html_safe %>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
        <%= link_to_if(user_signed_in? && @post.user_id == current_user.id, '削除', @post, method: :delete, data: {confirm: "削除してもいいですか？"}) {} %>
      </div>
    </div>
  </div>
</div>
